@import "../variables/variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loader {
    width: 100%;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}