@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,500&display=swap");
@font-face {
  font-family: "Avenir next";
  src: local("AvenirNext"), url(/public/avenir-next/AvenirNextLTPro-Regular.otf) format("truetype");
}
@font-face {
  font-family: "Avenir next bold";
  src: local("AvenirNext"), url(/public/avenir-next/AvenirNextLTPro-Bold.otf) format("truetype");
}
.dashboard-layout {
  background-color: #fbfbfb;
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Work Sans", sans-serif;
}
.dashboard-layout .dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .dashboard-layout .dashboard-container {
    justify-content: flex-start;
  }
}
.dashboard-layout .dashboard-main {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
.dashboard-layout .dashboard {
  padding: 140px 40px 40px 40px;
  width: 100%;
  overflow-y: auto;
}
@media (max-width: 1024px) {
  .dashboard-layout .dashboard {
    padding: 100px 20px 40px 20px;
  }
}

.top-nav {
  background-color: #ffffff;
  height: 100px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1030;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}
@media (max-width: 1024px) {
  .top-nav {
    height: 70px;
  }
}
.top-nav .search-input {
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .top-nav .search-input {
    display: none;
  }
}
.top-nav .search-input input {
  width: 100%;
  height: 50px;
  border: 2px solid rgba(84, 95, 125, 0.1490196078);
  border-radius: 5px;
  font-family: "Avenir next", sans-serif;
  font-size: 14px;
  color: #545f7d;
  outline: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #213f7d;
  height: 40px;
  opacity: 0.5;
  width: calc(100% - 56px);
  height: 100%;
  padding: 0px 12px;
}
.top-nav .search-input button {
  background-color: #39cdcc;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  padding: 15px 20px;
  font-weight: 600;
  font-family: "Avenir next", sans-serif;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 56px;
  background-color: #39cdcc;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: #213f7d;
}
.top-nav-main .logo {
  width: 120px;
}
.top-nav-main .menu-icon {
  display: none;
}
.top-nav-main .menu-icon img {
  width: 30px;
  height: 30px;
}
@media (max-width: 1024px) {
  .top-nav-main .menu-icon {
    display: block;
    cursor: pointer;
    z-index: 2400;
  }
}

.top-nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .top-nav-right {
    display: none;
  }
}
.top-nav-right a {
  color: #213f7d;
}

.top-nav-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-nav-profile img:first-child {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.side-nav {
  font-family: "Work Sans", sans-serif;
  background-color: #ffffff;
  height: 100vh;
  width: 370px;
  position: relative;
  z-index: 1020;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: 5px;
}
@media (max-width: 1024px) {
  .side-nav {
    position: fixed;
    width: 262px;
    left: -270px;
    z-index: 1030;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  .side-nav.nav-active {
    left: 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
}
.side-nav .side-nav-header {
  height: 100px;
  padding-left: 35px;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .side-nav .side-nav-header {
    height: 70px;
  }
}
.side-nav .side-nav-header img {
  width: 110px;
}
.side-nav .side-nav-menu {
  padding: 30px 0px;
}
.side-nav .side-nav-menu a {
  color: #213f7d;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.side-nav .side-nav-menu .side-nav-menu-item {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  border-left: 4px solid transparent;
  cursor: pointer;
}
.side-nav .side-nav-menu .side-nav-menu-item.active {
  background-color: rgba(57, 205, 205, 0.2196078431);
  padding: 10px 30px;
  border-left: 4px solid #39cdcc;
}
.side-nav .side-nav-menu .nav-item-header {
  padding: 10px 30px;
  color: #545f7d;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
.side-nav .logout {
  border-top: 1px solid rgba(33, 64, 125, 0.3529411765);
  padding: 10px 30px;
  cursor: pointer;
  color: #213f7d;
  font-size: 16px;
}
.side-nav .logout div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.side-nav .logout .version {
  font-size: 12px;
}/*# sourceMappingURL=dashboard.css.map */