@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,500&display=swap');

@font-face {
	font-family: 'Avenir next';
	src: local('AvenirNext'), url("../fonts/AvenirNextLTPro-Regular.otf") format('truetype');
}
@font-face {
	font-family: 'Avenir next bold';
	src: local('AvenirNext'), url("../fonts/AvenirNextLTPro-Regular.otf") format('truetype');
}

// Colors
$bluePrimary: #213f7d;
$textPrimary: #545f7d;
$greenPrimary: #39cdcc;

// Fonts
$workSans: 'Work Sans', sans-serif;
$avenirNext: 'Avenir next', sans-serif;
$avenirNextBold: 'Avenir next bold', sans-serif;

// Breakpoints
@mixin breakpointMobile {
	@media (max-width: 599px) {
		@content;
	}
}

@mixin breakpointTablet {
	@media (min-width: 600px) {
		@content;
	}
}

@mixin breakpointTabletLg {
	@media (max-width: 900px) {
		@content;
	}
}

@mixin breakpointDesktop {
	@media (max-width: 1024px) {
		@content;
	}
}

// Primary button
@mixin buttonStyle {
	background-color: $greenPrimary;
	color: #ffffff;
	border-radius: 8px;
	border: none;
	padding: 15px 20px;
	font-weight: 600;
	font-family: $avenirNext;
	font-size: 14px;
	outline: none;
	cursor: pointer;
}

@mixin input {
	width: 100%;
	height: 50px;
	border: 2px solid #545f7d26;
	border-radius: 5px;
	font-family: $avenirNext;
	font-size: 14px;
	color: $textPrimary;
	outline: none;
}
