@import '../variables/variables.scss';

.users {
	font-family: $workSans;
	h1 {
		color: $bluePrimary;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 30px;
	}
	.users-stats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        justify-content: space-between;
		width: 100%;
		gap: 30px;
		margin-bottom: 30px;
        @include breakpointMobile {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
	}
	.users-stats-box {
		background-color: #ffffff;
		border: 1px solid rgba(33, 63, 125, 0.06);
		box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
		border-radius: 4px;
		width: 100%;
		padding: 20px 30px 30px;
        @include breakpointTabletLg {
            width: 100%;
            padding: 20px;
        }
		img {
			margin-bottom: 12px;
            @include breakpointTabletLg {
                width: 30px;
                margin-bottom: 8px;
            }
		}
		p {
			font-size: 14px;
			font-weight: 500;
			color: $textPrimary;
			text-transform: uppercase;
            @include breakpointMobile {
                font-size: 12px;
            }
		}
		p:last-child {
			font-size: 24px;
			font-weight: 600;
			color: $bluePrimary;
			margin-top: 12px;
            @include breakpointTabletLg {
                font-size: 20px;
                margin-top: 8px;
            }
            @include breakpointMobile {
                font-size: 16px;
                margin-top: 8px;
            }
		}
	}
}

//Users table
.users-table {
	padding: 0px 30px;
	margin-top: 40px;
	background-color: #ffffff;
	border: 1px solid rgba(33, 63, 125, 0.06);
	box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	width: 100%;
	overflow-x: auto;
	table {
		width: 100%;
		border-collapse: collapse;
		color: $textPrimary;
		overflow-x: auto;
		thead {
			tr {
				th {
					font-size: 12px;
					font-weight: 600;
					text-transform: uppercase;
					padding: 20px 20px 20px 0px;
					text-align: left;
					max-width: 200px;
                    word-wrap: break-word;
                    @include breakpointMobile {
                        max-width: 150px;
                    }
					div {
						display: flex;
						align-items: center;
						gap: 5px;
						img {
							
							cursor: pointer;
						}
					}
					&:last-child {
						min-width: 20px;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					font-size: 14px;
					font-weight: 400;
                    max-width: 200px;
					padding: 20px 20px 20px 0;
					text-transform: capitalize;
					border-bottom: 1px solid rgba(33, 63, 125, 0.1);
                    word-wrap: break-word;
                    @include breakpointMobile {
                            max-width: 150px;
                    }
				}
				a {
					color: $textPrimary;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.users-paginate {
	display: flex;
	justify-content: space-between;
	margin-top: 23px;
	color: $textPrimary;
	font-size: 14px;
    @include breakpointMobile {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .user-page-info {
        span {
            padding: 7px 10px;
            color: $bluePrimary;
            font-weight: 500;
            background-color: rgba(33, 63, 125, 0.1);
            border-radius: 4px;
            img {
                margin-left: 10px;
            }
        }
    }

	.pagination {
        font-size: 16px;
		display: flex;
        align-items: center;
		gap: 20px;
		list-style: none;
        .active {
            color: $bluePrimary;
            font-weight: 500;
        }
        .page-link {
            cursor: pointer;
        }
        .arrow {
            cursor: pointer;
            height: 24px;
            width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(33, 63, 125, 0.1);
            border-radius: 4px;
        }
	}
}
